{% extends 'base.html' %}

{% block body %}
    <p></p>
    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="{% url 'ThruLine.views.criteria' %}">Season Selection</a> <span class="divider">/</span></li>
        <li><a href="{% url 'ThruLine.views.results' %}">Search Criteria</a> <span class="divider">/</span></li>
        <li class="active">Requests</li>
    </ul>
    </p>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li><a href="{% url 'ThruLine.views.criteria' %}">Season Selection</a></li>
                        <li><a href="{% url 'ThruLine.views.results' %}">Search Criteria</a></li>
                        <li class="active">Requests</li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span9">
                <table class="table table-hover table-bordered">
                  <thead><tr>
                    <th>#</th>
                    <th>Status</th>
                    <th>Keyword</th>
                    <th>Episode IDs</th>
                  </tr></thead>
                  <tbody>
                  {% for request in requests %}
                    <tr {% if request.id == request_id %}class="warning"{% endif %}>
                        <td>{{ request.id }}</td>
                        <td>
                          {% if request.status == 'complete' %}
                            <a href="/request/{{ request.id }}/">Complete</a>
                          {% else %}
                            {{ request.status|capfirst }}
                          {% endif %}
                        </td>
                        <td>{{ request.get_keyword }}</td>
                        <td>{{ request.get_episodes }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <!--/span-->
    </div><!--/row-->

    <hr>

    <footer align="center">
        <p>&copy; ThruLine 2015</p>
    </footer>

    </div><!--/.fluid-container-->

{% endblock %}
