{% extends 'base.html' %}

{% block body %}
    <p></p>
    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="{% url 'ThruLine.views.criteria' %}">Season Selection</a> <span class="divider">/</span></li>
        <li><a href="{% url 'ThruLine.views.results' %}">Search Criteria</a> <span class="divider">/</span></li>
        <li><a href="{% url 'ThruLine.views.requests' %}">Requests</a> <span class="divider">/</span></li>
        <li class="active">Request #{{ request.id }}</li>
    </ul>
    </p>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li><a href="{% url 'ThruLine.views.criteria' %}">Season Selection</a></li>
                        <li><a href="{% url 'ThruLine.views.results' %}">Search Criteria</a></li>
                        <li><a href="{% url 'ThruLine.views.requests' %}">Requests</a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span9">
                <div class="hero-unit" style="text-align:center;">
                    <div style="text-align:left;width:320px;margin:0 auto;">
                      <a href="/download/{{ request.id }}/" style="float:right;">Download</a>
                      <h3>Request #{{ request.id }}</h3>
                    </div>

                    <video width="320" height="240" controls style="background:black;">
                      <source src="/video/{{ request.id }}/" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        <!--/span-->
    </div><!--/row-->

    <hr>

    <footer align="center">
        <p>&copy; ThruLine 2015</p>
    </footer>

    </div><!--/.fluid-container-->

{% endblock %}
